<h2>List of Users</h2>

<%= will_paginate @users, renderer: BootstrapPagination::Rails%>
<table class="users table table-hover ">
	<thead>
		<tr>
			<th>#</th>
			<th>Email</th>
			<th>Name</th>
			<th>Image</th>
		</tr>
	</thead>
	<%= render @users %>	
</table>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>